{% extends "auctions/layout.html" %}

{% block body %}

    {% include 'auctions/pageTitle.html' with page="Create a New Listing" %}

    {% if user.is_authenticated %}
        <form action="{% url 'create_listing' %}" method="POST" enctype="multipart/form-data">
            <ul>
                {% csrf_token %}
                {{ form.as_ul }}
            </ul>
            <button type="submit">Create Listing</button>
        </form>

    {% else %}
        <p>You must be logged in to create a listing.</p>
        <p><a href="{% url 'login' %}">Click here to login</a></p>

    {% endif %}

{% endblock %}