{% extends 'auctions/layout.html' %}

{% block body %}

    <P>Today's date: {{ now }} in timezone {{ today_tz }}.</p>
    <p>Creation date: {{ creation_date }} in timezone {{ creation_tz }}.</p>
    <p>Expiration date: {{ expiration_date }} in timezone {{ expiration_tz }}.</p>
    <p>Date difference: {{ date_difference }}.</p>
    <p>Days until expiration: {{ until_expiration }}.</p>
    <p>So-called "current" timezone: {{ tz }}.</p>
    <p>Timezone from timezone.now().astimezone().tzinfo: {{ tz_info }}.</p>
    <p>Using timezone.localtime(): {{ lt }} in timezone {{ lt_tz }}.</p>
    <p>timezone.now(): {{ tz_now }} in timezone {{ tz_now_tzinfo }}.</p>
    <p>Expired? {{ expired }}.</p>
    <hr>
    <p>Difference: {{ remaining }}.</p>
    <p>Days remaining: {{ days_remaining }}.</p>
    <p>Hours remaining: {{ hours_remaining }}.</p>
    <p>Minutes remaining: {{ minutes_remaining }}.</p>
    <p>Seconds remaining: {{ seconds_remaining }}.</p>



{% endblock %}