{% comment %}
    Listing block will be called by any template that requires displaying an arbitrary number of listings.
    Since any type of listing could be displayed, and also any block of listings could include a mix of different
    types of listings, this include will need to figure out whether the listing belongs to the user, is a part of
    the user's watchlist, or a default listing.
{% endcomment %}

{% for listing in listings %}
    {% include 'auctions/listing_single.html' listing=listing %}
{% endfor %}