{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

    {% include 'auctions/pageTitle.html' with page="Preview Your Listing" %}

    {% if user.is_authenticated %}
        <div class="container w-75 ml-0 p-0">
        <p class="mb-5">Please fill out all fields.</p>
            <form action="{% url 'create_listing' %}" method="POST" id="listingForm" name="listingForm" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row mb-4"><p class="mark">{{ form.non_field_errors }}</p></div>

                {% for field in form %}
                    <div class="row mb-4">
                        <div class="col-sm-3">
                            <label for="{{ field.id_for_label }}" class="col-form-label d-block">{{ field.label }}:</label>
                            <span class="text-danger d-block text-small">{{ field.errors }}</span>
                        </div>
                        <div class="col-sm-9">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}

                <div class="row mb-4">
                    <div class="col-sm-9 offset-sm-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="random" value="True" id="randomInput">
                            <label for="randomInput" class="form-check-label">Generate a random listing</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-9 offset-sm-3">
                        <input type="submit" class="btn btn-primary" value="Preview Listing" name="preview">
                        or
                        <input type="submit" class="btn btn-primary" value="Create Listing" name="submit">
                    </div>
                </div>

            </form>
        </div>

    {% else %}

        <p>You must be logged in to create a listing.</p>
        <p><a href="{% url 'login' %}">Click here to login</a></p>
    
    {% endif %}

{% endblock %}